* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  text-rendering: optimizeLegibility;
  font-family: $primary-font;
  font-size: 100%;
  line-height: 1;
  color: var(--dark-grey);
}
