@font-face {
  font-family: "Morion";
  src: url("../assets/fonts/Morion-Regular.eot");
  src: url("../assets/fonts/Morion-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../assets/fonts/Morion-Regular.woff2") format("woff2"),
    url("../assets/fonts/Morion-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Morion";
  src: url("../assets/fonts/Morion-Light.eot");
  src: url("../assets/fonts/Morion-Light.eot?#iefix")
      format("embedded-opentype"),
    url("../assets/fonts/Morion-Light.woff2") format("woff2"),
    url("../assets/fonts/Morion-Light.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Morion";
  src: url("../assets/fonts/Morion-UltraLight.eot");
  src: url("../assets/fonts/Morion-UltraLight.eot?#iefix")
      format("embedded-opentype"),
    url("../assets/fonts/Morion-UltraLight.woff2") format("woff2"),
    url("../assets/fonts/Morion-UltraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AktivGrotesk";
  src: url("../assets/fonts/AktivGrotesk-Bold.eot");
  src: url("../assets/fonts/AktivGrotesk-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("../assets/fonts/AktivGrotesk-Bold.woff2") format("woff2"),
    url("../assets/fonts/AktivGrotesk-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AktivGrotesk";
  src: url("../assets/fonts/AktivGrotesk-Light.eot");
  src: url("../assets/fonts/AktivGrotesk-Light.eot?#iefix")
      format("embedded-opentype"),
    url("../assets/fonts/AktivGrotesk-Light.woff2") format("woff2"),
    url("../assets/fonts/AktivGrotesk-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AktivGrotesk";
  src: url("../assets/fonts/AktivGrotesk-Medium.eot");
  src: url("../assets/fonts/AktivGrotesk-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("../assets/fonts/AktivGrotesk-Medium.woff2") format("woff2"),
    url("../assets/fonts/AktivGrotesk-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AktivGrotesk";
  src: url("../assets/fonts/AktivGrotesk-Regular.eot");
  src: url("../assets/fonts/AktivGrotesk-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../assets/fonts/AktivGrotesk-Regular.woff2") format("woff2"),
    url("../assets/fonts/AktivGrotesk-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

$primary-font: "AktivGrotesk", sans-serif;
$title-font: "Morion", sans-serif;

h1 {
  font-family: $title-font;
  font-weight: 300;
  font-size: 2rem;
  line-height: 2.25rem;

  @include breakpoint(up, lg) {
    font-size: 3.1rem;
    line-height: 3.7rem;
  }
}

h2 {
  font-family: $title-font;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.75rem;
}

h3 {
  font-size: 0.75rem;
  line-height: 0.875rem;
  letter-spacing: 0.15rem;

  @include breakpoint(up, lg) {
    font-size: 0.9rem;
    line-height: 1rem;
  }
}

p,
.hero__button {
  font-size: 1rem;
  line-height: 1.5rem;
}

.site-header__main-nav a {
  font-size: 1rem;
}

.menu-overlay__nav a {
  font-size: 1.1rem;
}

.banner p {
  font-size: 0.9rem;
}

.card__button {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.3125rem;
}
